{% extends "layout.html.twig" %}
    {% block menu %}
      <div id="home">
        <div class="aboutImg">
          <img src="http://www.pngmart.com/files/2/Pokeball-PNG-Image.png" class="pokemon-ball" width="300">
        </div>
        <div>
          <h1 class="headerOne">All About Pokemon</h1>
          juan
          <p class="headerP">Pokémon (ポケモン Pokemon?, Japanese pronunciation: ['pokemoɴ]; /ˈpoʊkeɪˌmɒn/ or /ˈpoʊkᵻˌmɒn/ - poh-kay-mon or poh-ki-mon)[1][2] is a media franchise managed by The Pokémon Company, a Japanese consortium between Nintendo, Game Freak, and Creatures.[3] The franchise copyright is shared by all three companies, but Nintendo is the sole owner of the trademark.[4] The franchise was created by Satoshi Tajiri in 1995,[5] and is centered on fictional creatures called "Pokémon", which humans, known as Pokémon Trainers, catch and train to battle each other for sport. <a href="https://en.wikipedia.org/wiki/Pok%C3%A9mon" target="_blank">Source</a></p>
        </div>
      </div>
    {% endblock %}