<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Old Architecture by Free Css Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="./../public/default.css" rel="stylesheet" type="text/css" />
</head>
<body>
{% block layout %}{% endblock %}
</body>
</html>
