{% extends "layout.html.twig" %}
{% block content %}
	<div id="content">
		<h1>Welcome to Old Architecture!</h1>
		<blockquote>
			<p><strong>&#8220;Old Architecture</strong> is a free template from <a href="http://www.freecsstemplates.org/">Free CSS Templates</a> released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a>. The photo is from <a href="http://www.pdphoto.org/">PDPhoto.org</a>. You're free to use it for both commercial or personal use. I only ask that you link back to my site in some way. <em>Enjoy :)</em>&#8221;</p>
		</blockquote>
		<p>Donec leo, vivamus fermentum nibh in augue praesent congue rutrum. Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh.</p>
		<ol>
			<li><a href="#">Integer sit amet pede vel arcu aliquet pretium.</a></li>
			<li><a href="#">Pellentesque quis elit non lectus gravida blandit.</a></li>
			<li><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</a></li>
			<li><a href="#">Phasellus nec erat sit amet nibh pellentesque congue.</a></li>
			<li><a href="#">Cras vitae metus aliquam risus pellentesque pharetra.</a></li>
			<li><a href="#">Maecenas vitae orci vitae tellus feugiat eleifend.</a></li>
			<li><a href="#">Duis non ante in metus commodo euismod lobortis.</a></li>
		</ol>
	</div>
{% endblock %}