{% extends "layout.html.twig" %}
{% block content %}
<div id="tooplate_main">
        <div id="tooplate_content">
            <a><img src="img/lizzard.png"/></a>
            <a><img src="img/paper.png"/></a>
             <a><img src="img/rock.png"/></a>
             <a><img src="img/scissors.png"/></a>
             <a><img src="img/spock.png"/></a>
             <a><div class="cleaner"></div>
        </div> <!-- end of tooplate_content -->
    </div> <!-- end of tooplate_main -->
{% endblock %}