{% extends "layout.html.twig" %}
    {% block content %}
     <div id="tooplate_main">
        <div id="tooplate_content">
			<img src="img/piedra-papel-tijera-lagarto-spock.png"/>
            <div class="cleaner"></div>
        </div> <!-- end of tooplate_content -->
    </div> <!-- end of tooplate_main -->
    {% endblock %}